* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontMain;
}

.row--noMargin {
    margin: 0;
}




// global

.section__name{
    text-align: center;
    text-transform: uppercase;
    color: $colorFirst;
    opacity: 0.6;
}

.section__title {
    color: $colorSecond;
    font-family: $fontSecond;
    font-size: 55px;
    line-height: 76px;
}
